#title{
    font-size: 30px;
    color: brown;
    text-decoration: none;
}
#title:hover{
    color: aqua;
    font-size: 50px;
}
#title2{
    font-size: 30px;
    color: brown;
    text-decoration: none;
}

#title2:visited{
    color: blue;

}

#order{
    font-size: 30px;
    padding: 10px;

}
#order2{
    font-size: 30px;
    padding: 10px;

}

#order:active{
    background-color: red;
}

#order2:focus{
    background: burlywood;
}