* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.clr{
clear: both;
}
#content{
    float: left;
    width: 300px;
    
}

#sidebar{
width: calc(100% - 300px);
float: right;


}
#wapper {
    background: linear-gradient(80deg, #ff0000 20%, #0000ff 80%); 
}